<h1>Init on click</h1>

<p>Init on click improves the page performance by initializing only the basic code when the page is loaded and the
    rest of the code when clicking in the editable area. It is highly recommended to use the <a
    href="https://www.froala.com/wysiwyg-editor/docs/options#initOnClick" target="_blank"
    title="initOnClick option">initOnClick</a> option if you have more rich text editors on the same page.</p>

<p><strong>Click here to initialize the WYSIWYG HTML editor on this text.</strong></p>\