#surat {
    font-family: 'Times New Roman';
    color: #000;
    width: 800px;
    height: 1234px;
    padding: 2rem 0;
    line-height: 1.2rem;
    font-size: 20px;
    // font-size: 12px;
    .fr-box.fr-basic .fr-element.fr-view {
        font-family: "Times New Roman", Georgia, Serif;
        font-size: 18px;
        color: #000;
    }
    .header {
        padding: .5rem 0;
        img {
            height: 110px;
        }
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        p {
            margin: 0;
        }
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-weight: bold !important;
        margin-top: 1rem;
    }
    h1, .h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 1.7rem;
    }
}