<link rel="stylesheet" href="${base_url}assets/css/surat.css">
<div id="surat" style="margin: auto;padding: 2rem 0" class="create">
    <div class="header">
        <table style="width: 100%; text-align: center;">
            <tr>
                <td>
                    <img src="${base_url}assets/img/logoMa.png" height="90" class="logo">
                </td>
                <td>
                    <div class="title">
                        <h2>MAKAMAH AGUNG REPUBLIK INDONESIA</h2>
                        <h2>BADAN URUSAN ADMINISTRASI</h2>
                    </div>
                    <div class="subtitle">
                        <p>Jalan Medan Merdeka Utara No.9-13 Jakarta 10110 Tromol Pos Nomor 1020</p>
                        <p>Telepon (021)3843348, 3810350, 3457661 Faksimili 3810361</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="body">
    
        <div class="head">
            <h2 class="ce">SURAT TUGAS</h2>
            <h3 class="ce">NOMOR: ST-0084/Bua.3/II/2021</h3>
        </div>

        <table class="t2">
            <tr>
                <td>Menimbang</td>
                <td style="padding-right: .1rem;padding-left: .5rem;">:</td>
                <td><p class="ce">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti rem, perferendis esse expedita asperiores illo quo quos sit qui quam labore temporibus porro voluptatibus fugiat obcaecati voluptatem dolor possimus facilis voluptate error quidem necessitatibus neque harum? Quaerat repellendus accusamus modi!</p></td>
            </tr>
            <tr>
                <td>Dasar</td>
                <td style="padding-right: .1rem;padding-left: .5rem;">:</td>
                <td>
                    <ol>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque error eaque, iure quae eveniet ipsa quidem aut hic aliquam tenetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi cumque recusandae saepe neque aperiam porro libero accusantium architecto natus accusamus!</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque error eaque, iure quae eveniet ipsa quidem aut hic aliquam tenetur</p>
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        <ol>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque error eaque, iure quae eveniet ipsa quidem aut hic aliquam tenetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi cumque recusandae saepe neque aperiam porro libero accusantium architecto natus accusamus!</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque error eaque, iure quae eveniet ipsa quidem aut hic aliquam tenetur</p>
            </li>
        </ol>

        <div class="head">
            <h2 class="ce">MEMBERIKAN TUGAS</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <h3>Kepada: </h3>
            </div>
            <div class="col-4 text-right ifNotPrint">
                <button class="btn btn-primary btn-sm shadow-sm"  data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-fw fa-table"></i> Edit Table</button>
            </div>
        </div>
        <table id="t-tugas" class="tugas" cellspacing="0" cellpadding="10">
            <tr>
                <th class="ce">NO.</th>
                <th class="ce">NAMA/NIP/PANGKAT/GOL</th>
                <th class="ce">JABATAN</th>
            </tr>
            <tr>
                <td class="ce" style="text-align:center;">1</td>
                <td class="ce"></td>
                <td class="ce"></td>
            </tr>
        </table>

        <table class="t2" style="margin-top: 0.5rem;">
            <tr>
                <td style="width: fit-content;">
                    <p>Masa&nbsp;Penugasan</p>
                </td>
                <td style="padding-right: .1rem;padding-left: .5rem;">:</td>
                <td>
                    <p class="ce">06 Mei 2021 s.d. 07 Mei 2021</p>
                </td>
            </tr>
            <tr>
                <td>Untuk</td>
                <td style="padding-right: .1rem;padding-left: .5rem;">:</td>
                <td class="ce">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque error eaque, iure quae eveniet ipsa quidem aut hic aliquam tenetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi cumque recusandae saepe neque aperiam porro libero accusantium architecto natus accusamus!</p>
                </td>
            </tr>
        </table>
        <table class="tt">
            <tr>
                <td>
                    <div class="tt-head">
                        <p class="ce">Kamis, 06 Mei 2021\nAceh Utara</p>
                    </div>
                    <br><br><br><br>
                    <div class="tt-foot">
                        <p class="ce">Zulfahmi<br>NIM. 2020903430056</p>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
</div>
